.col-form-label {
  cursor: pointer;
}

label {
  font-weight: 800;
}

mat-form-field{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 55px;
  padding: 20px;
}



::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  color: grey;
}
/**********************************ERROR STYLE*****************************************/

mat-form-field.ng-invalid.ng-touched {
  animation: example;
  animation-duration: 0.3s;
  margin-bottom: 30px;
}



@keyframes example {
  from {margin-bottom: 0;}
  to {margin-bottom: 5px;}
}

mat-error{
  font-size: 15px;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 300px;
}

.card-size {
  height: 50%;
  width: 70%;
}

.center-action-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buton-login {
  background-color: #35a27e;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: 150px;
}
