<div class="container">
  <div class="boo-wrapper">
    <div class="boo">
      <div class="face"></div>
    </div>
    <div class="shadow"></div>
    <h1>Lo sentimos</h1>
    <p>No pudimos encontrar esta página</p>
    <a class="btn btn-light"(click)="moveRoute()"> <i class="material-icons">keyboard_backspace</i> Volver al inicio</a>
  </div>
</div>
