<div style=" flex: 1 1 auto;">
  <mat-toolbar>
    <mat-toolbar-row class="main-color">
      <span style="color:white">TülTest</span>
      <span class="example-spacer"></span>

      <ng-container *ngIf="emailSession">
        <label matTooltip="Visitar productos">
        <button mat-icon-button class="example-icon favorite-icon icon-tool"
          aria-label="Example icon-button with heart icon" (click)="goDashboard()">
          <mat-icon>
            <mat-icon>shopping_bag</mat-icon>
          </mat-icon>
        </button>
        </label>

        <label matTooltip="Ver carrito de compras">
        <button mat-icon-button class="example-icon favorite-icon icon-tool"
          aria-label="Example icon-button with heart icon" (click)="shoppingCar()" [matBadge]="productCuantity"
          style="margin-right: 10px; ">
          <mat-icon>
            <mat-icon>add_shopping_cart</mat-icon>
          </mat-icon>
        </button>
      </label>

      <label matTooltip="Cerrar sesión">
        <button mat-icon-button class="example-icon favorite-icon icon-tool"
          aria-label="Example icon-button with heart icon" (click)="logout()">
          <mat-icon>input</mat-icon>
        </button>
        </label>
      </ng-container>

    </mat-toolbar-row>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
