.button-car {
  margin: 15px;
  background-color: #35a27e;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: 140px;
}

.button-car-shop {
  margin-bottom: 18px !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: 170 !important;
}

.add-button-color {
  background-color: blue;
}

