<div style="margin-left:40px; margin-top: 40px;">
  <h1>Productos en el carrito</h1>
  <ng-container *ngFor="let item of shoppingCar">
    <div class="mat-elevation-z8" style="padding: 10px; width: 90%;">
      <fieldset>
        <legend> {{item.name}}</legend>
        <mat-grid-list cols="4" rowHeight="100px">
          <mat-grid-tile colspan="1">
            <h2>{{item.description}}</h2>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <h2>Cantidad: {{item.cuantity}}</h2>
          </mat-grid-tile>

          <mat-grid-tile style=" justify-content: flex-start !important;" colspan="1">
            <label matTooltip="Reducir la cantidad del producto">
              <button nz-button class="button-car-shop" nzType="primary" nzDanger (click)="removeItem(item)"
                nzShape="round">
               Producto -1
              </button>
            </label>

          </mat-grid-tile>

          <mat-grid-tile style=" justify-content: flex-start !important;" colspan="1">
            <label matTooltip="Incrementar la cantidad del producto">

              <button nz-button class="button-car-shop add-button-color" nzType="primary" (click)="addItem(item)"
                nzShape="round">
                Producto +1
              </button>

            </label>

          </mat-grid-tile>
        </mat-grid-list>

      </fieldset>
    </div>
    <br>
    <br>
    <br>
  </ng-container>
  <div *ngIf="savedRequest" style="float: right; margin-right: 10%;">
    <strong>Estado del pedido:</strong> {{currentState == 'Pending'? 'Pendiente':'Completado'}}
  </div>
  <br>

  <ng-container *ngIf="shoppingCar.length > 0 ">
    <button nz-button class="button-car" nzType="primary" (click)="createCar()" [disabled]="savedRequest"
      nzShape="round">
      Guardar
    </button>
    <button nz-button class="button-car" nzType="primary" (click)="createProductCar()" [disabled]="!payedRequest"
      nzShape="round">
      Pagar
    </button>
    <ng-container *ngIf="newRequest">
      <button nz-button class="button-car" nzType="primary" (click)="resetCar()" nzShape="round">
        Nuevo pedido
      </button>
    </ng-container>
  </ng-container>


  <ng-container *ngIf="shoppingCar.length == 0">
    <h1>Carrito vacío</h1>
  </ng-container>

</div>
