/* .card-size {
  width: 400px;
  height: 450px;
} */

/* .card-separation {
  padding: 7px !important;
} */

/* .image-size {
  width: 100px;
  height: 100px;
} */
/* .main-div{
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* ::ng-deep mat-grid-tile .mat-figure {
  height: 50% !important;
} */

/* ::ng-deep mat-grid-tile .mat-grid-tile.card-size {
  padding: 50% !important;
} */

.img-size {
  width: 160px !important;
  height: 160px !important;
}

.center-action-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buton-login {
  background-color: #35a27e;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: 150px;
}
