<div style="padding-top: 50px; margin-left: 50px;">
  <mat-grid-list cols="5" rowHeight="350px">
    <ng-container *ngFor="let item of prodFirebase">
      <mat-grid-tile>
        <div>
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img class="img-size" mat-card-image src="assets/img/{{item.name}}.jpg">
            <mat-card-content>
              <div>
                <p>
                  {{item.description}}
                </p>
              </div>
            </mat-card-content>
            <mat-card-actions class="main-div center-action-card">
              <button  (click)="addProduct(item)" class="buton-login mat-elevation-z8">
                Añadir al carrito
              </button>
              <!-- <button mat-button>SHARE</button> -->
            </mat-card-actions>
          </mat-card>
          <hr>
        </div>
      </mat-grid-tile>

    </ng-container>
  </mat-grid-list>
</div>

<!-- buton-login -->
